0.0.0.0:8001 {
	bind 0.0.0.0

	root public

	ext .html

	gzip

	header /images/map.svg {
		Content-Type image/svg+xml
	}

	header /images/phone.svg {
		Content-Type image/svg+xml
	}

	errors {
		404 404.html
	}
}
