body {
	background: url('/images/wood_bg.jpg');
	background-size: cover;

	font-family: Georgia, serif;
}


.header {
	background-image: url('/images/pizza-header.jpg');
	background-color: #F2B63A;
	background-size: cover;
	background-position: top center;

	box-shadow: 0 1px 1px 2px black;
}

.header__inner {
	background-color: rgba(255, 227, 178, 0.6);

	display: flex;
	flex-wrap: wrap;

	text-align: center;
}

.header__name {
	width: 100%;
	font-family: Georgia, serif;
	font-size: 2.5rem;
	font-weight: bold;
	color: #C32021;
	margin-bottom: 10px;
	text-shadow: black 1px 1px 3px;
}

.header__address, .header__phone {
	flex: 1 1 100%;
	justify-content: space-around;
	box-sizing: border-box;
	display: block;
	font-size: 1.2rem;
	font-weight: bold;
	color: #C32021;
	margin-bottom: 10px;
}

.header__address img, .header__phone img {
	width: 1.2rem;
}


.nav {
	margin-top: 5px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.19rem;
	font-weight: bold;
	text-align: center;
}

.nav > a {
	color: #9E1121;
	flex: 1 1 50%;
	display: inline-block;
	padding: 7px 0;
	background-color: rgba(255, 227, 178, 0.35);
	transition: background-color 80ms;
}

.nav > a:hover {
	color: #C32021;
	background-color: rgba(255, 227, 178, 1);
}


main {
	margin-top: 2px;
}


.footer {
	color: #ccc;
	background-color: #775500;

	text-align: center;
	padding: 10px 0;
}

.footer a {
	color: rgb(78, 8, 0);

	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
}
