.feedback__header {
	color: #eee;
	font-size: 1.4rem;
	text-align: center;
	padding: 20px;
	margin: 20px 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.feedback__footer {
	color: #eee;
	font-size: 1.1rem;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}

.feedback > blockquote {
	color: #eee;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	font-size: 1rem;
	font-style: italic;
	margin: 0 10px 20px 10px;
	padding: 20px;
	quotes: "\201C" "\201D";
}

.feedback > blockquote > footer {
	text-align: end;
}

.feedback a {
	color: #ddd;
}
