<p class="contact__header">Thank you for taking the time and effort to let us know how we are doing and any improvements that you would like to see. If you request follow up, every effort will be made to reply to you within 24 hours, Monday through Friday.</p>

<form class="contact__form">
	<input name="name" placeholder="Name (optional)"
	><input name="email" type="email" placeholder="Email (optional)"
	><textarea name="message" placeholder="Message..."></textarea
	><button>Send</button>
</form>