<div class="feedback">
	<h2 class="feedback__header">Feedback From Our Community</h2>

	<blockquote>
		<p>Dear Roman&#8217;s,<br />
		You saved my anniversary.  Yes, you and your friendly staff, your employees&#8217; creative pizza-decorating (and yes, I mean decorating), and fast and on-time delivery.</p>
		<p>The customer service available here is so wonderful I can&#8217;t even begin to explain it.  I called from across the country to have a specially made pizza delivered to my boyfriend for our anniversary.  Roman&#8217;s went there and beyond!  The pizza was delivered on time, by the friendliest delivery person, and in the best pizza decoration ever!  Your SUPER staff made a perfectly shaped heart pizza with special decorations, literally ordered and made to perfection.  </p>
		<p>THANK YOU ROMAN&#8217;S!  YOU&#8217;RE THE BEST!</p>
		<footer>-- Andrea</footer>
	</blockquote>

	<blockquote>
		<p>Roman&#8217;s has the BEST pizza! No one can beat the quality or price. Keep up the exceptional work. Thank you! :)</p>
		<footer>-- Monica</footer>
	</blockquote>

	<blockquote>
		<p>Hands down best pizza in West Sacramento. Try it once you will love it forever.</p>
		<footer>-- Tyler Salemme</footer>
	</blockquote>

	<blockquote>
		<p>The best pizza that I have had in quite a long time and affordable too! Round Table, I think I don't love ya any more!</p>
		<footer>-- Russell Ellis</footer>
	</blockquote>

	<blockquote>
		<p>This puts all other pizza to shame! This is the #1 pizza in Sacramento! I wouldnt go anywhere else! Flavor is phenom! Thanks guys!</p>
		<footer>-- Russell</footer>
	</blockquote>

	<blockquote>
		<p>Fantastic pizza, friendly service, a true small business. Thanks for doing what you do.</p>
		<footer>-- Chad</footer>
	</blockquote>

	<blockquote>
		<p>This is the best pizza in west sac area great prices and always yummy.</p>
		<footer>-- Carl M.</footer>
	</blockquote>

	<blockquote>
		<p>this pizza is the best in west sacramento just thought i would tell u dont change anything you guys do its great!!!!!!!!!</p>
		<footer>-- Deven</footer>
	</blockquote>

	<blockquote>
		<p>Best pizza place in West Sacramento!</p>
		<footer>-- Sergei Minnikoff (<a href='http://sgmautoservice.com' rel='external nofollow'>SGM Auto Service</a>)</footer>
	</blockquote>

	<p class="feedback__footer">If you have feedback you'd like to share with us, you may send it on the <a href="/contact">Contact</a> page.</p>
</div>